<h1>Catalogo</h1>
<hr>

<form [formGroup]="searchForm" (ngSubmit)="searchClient()"  >
    <label for="doc">Documento cliente</label>
    <input 
    autocomplete="off" 
    type="text" 
    id="doc" 
    formControlName="document" 
    name="document" >


   <button type="submit" >Buscar</button> 
</form>
<hr>
<div *ngIf="client">
    <h3>Cliente</h3>
    <p>Nombre: {{client.name}}</p>
    <p>Tipo documento: {{client.documentType}}</p>
    <p>Documento: {{client.document}}</p>
    <p>Teléfono: {{client.phoneNumber}}</p>
</div>