<p>client-list works!</p>

<table *ngIf="clientsList.length > 0" class="table table-light" border="1">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Selected Client</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of clientsList">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.document}}</td>
            <td>{{item.email}}</td>
            <td>
                <button (click)="addClientToSale(item)" >Selected</button>
            </td>
        </tr>
    </tbody>
</table>